services:
  stump:
    image: aaronleopold/stump:0.0.12
    container_name: stump
    volumes:
      - /home/pedro-correa/.stump:/config
      - /external-hd-backup/stump/books:/data
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - 10801:10801
    restart: unless-stopped
    networks:
      - stump-network
    labels:
      glance.name: Stump
      glance.icon: si:bookstack
      glance.url: https://stump.tulkdan.dev

networks:
  stump-network:
    name: proxy-network
    external: true
