(cloudflare) {
  tls {
    dns cloudflare
  }
}

stump.tulkdan.dev {
  import cloudflare

  reverse_proxy stump:10801
}

glance.tulkdan.dev {
  import cloudflare

  reverse_proxy glance:8080
}

git.tulkdan.dev {
  import cloudflare

  reverse_proxy soft-serve:23232
}

paisa.tulkdan.dev {
  import cloudflare

  reverse_proxy paisa:7500
}

adguard.tulkdan.dev {
  import cloudflare

  reverse_proxy 192.168.0.13:150
}

obsidian.tulkdan.dev {
  import cloudflare

  reverse_proxy obsidian-livesync:5984
}

vaultwarden.tulkdan.dev {
  import cloudflare

  reverse_proxy vaultwarden:80
}

cook.tulkdan.dev {
  import cloudflare

  reverse_proxy cooklang:9080
}

*.tulkdan.dev {
  import cloudflare

  handle {
    abort
  }
}
